<!DOCTYPE html>
<html lang="en" ng-app="perfectApp">
<head>
    <meta charset="UTF-8">
    <title>The Perfect Biscuit Chocolate Cake</title>
    <link href="https://bootswatch.com/cosmo/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>
<body ng-controller="ingradientsController as list">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="#">The perfect cake calculator</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <div class="jumbotron" style="opacity: 1; background-image: url('https://whiterabbitsandhungryhabits.files.wordpress.com/2012/11/picture-002.jpg'); background-position: 50% 50%; background-repeat: no-repeat;     height: 500px;padding-bottom: 0;background-attachment: fixed;transition: 0s linear;transition-property: background-position;background-size: cover; width: 100%;">
    </div>
        <div class="container">
        <div class="jumbotron text-center">
            <h1>The Perfect Biscuit Chocolate Cake</h1>
            <h3>Save the perfect cake calculator and never waste batter again</h3>
            <br/>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                <div class="col-sm-3">
                    <span class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span><br/>

                    <b>5.0 Star</b><br>rating
                </div>
                <div class="col-sm-3">
                    <span><i class="fa fa-clock-o fa-3x"></i></span><br/>
                    Prep <b>10 min</b>
                    <br>Freeze <b>60 min</b>
                </div>
                <div class="col-sm-3">
                    <span><i class="fa fa-bar-chart fa-3x"></i></span><br/>
                    <b>{{list.calorie}} cal</b>/<br>serving
                </div>
                <div class="col-sm-3">
                    <span><i class="fa fa-graduation-cap fa-3x"></i></span><br/>
                    <b>Medium</b><br>effort
                </div>

            </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row" >
            <div class="col-md-5">
                <h2>INGREDIENTS</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="pancakes" class="col-sm-8 control-label">How many pancakes do you want to make?</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                            <input type="text" ng-model="list.pancakes" ng-change="list.change()" class="form-control" id="pancakes" placeholder="pancakes">
                            <div class="input-group-addon">pcs</div>
                                </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="thikness" class="col-sm-8 control-label">How thick do you want your pancakes?</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                            <input type="text" ng-model="list.thickness"  ng-change="list.change()"  class="form-control" id="thikness" placeholder="Thikness">
                            <div class="input-group-addon">cm</div>
                                </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="diameter" class="col-sm-8 control-label">What is the diameter of your pan?</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" ng-model="list.diameter"  ng-change="list.change()" class="form-control" id="diameter" placeholder="diameter">
                                <div class="input-group-addon">cm</div>
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="list-group" >
                    <li class="list-group-item" ng-repeat="item in list.ingradients">
                        <strong ng-bind="item.value"></strong>
                        <span ng-bind="item.text"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <h2>METHOD</h2>
                <ul class="media-list">
                    <li class="media">
                        <div class="media-body">
                            <h4 class="media-heading">1.</h4>
                            <p>A kekszet nyújtódeszkán kissebb-nagyobb darabokra összetörjük, és nagy tálba tesszük a mazsolával, amiben könnyen össze tudjuk majd keverni a folyékony összetevőkkel.</p>
                        </div>
                    </li>
                    <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">2.</h4>
                        <p>A cukrot, a vajat, a kakaót és a tejet egy lábasban feltesszük melegedni, ha forrni kezd, lekapcsoljuk a lángot. A tűzről levéve beletesszük a rumot. Ráöntjük a darabolt kekszre, és összekeverjük.</p>
                    </div>
                    </li>
                    <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">3.</h4>
                        <p>Egy celofánpapírra hosszában a masszából halmokat rakunk, szorosan henger alakúra feltekerjük, közben össze-össze nyomkodjuk, hogy ne legyen hézagos.Gyorsan dolgozzunk vele, amíg meleg, különben megszilárdul, és nem tapad össze, a szeletelésnél pedig omlik!</p>
                    </div>
                    </li>
                    <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">4.</h4>
                        <p>Ha kihűlt (ez 1-2 órát jelent a hűtőben, de jobb 1 éjszakára betenni), meghempergetjük kókuszreszelékben, darált dióban, mogyoróban ízlés szerint. Éles késsel fél cm szélesre szeleteljük.</p>
                    </div>
                    </li>

                </ul>

            </div>
        </div>

        <hr>

        <footer>
            <p>© 2015 David Breuer <a href="https://github.com/dbreuer/">github</a>.</p>
        </footer>
    </div>

    <script>
        angular.module('perfectApp', [])
                .controller('ingradientsController', function($filter) {
                    var list = this;
                    list.pancakes = 20;
                    list.thickness = (0.15);
                    list.diameter = 18;
                    list.calorie = 563;
                    list.ingradients = [
                        {value: 10.00, text: 'dkg sugar'},
                        {value: 90.00, text: 'g cocoa'},
                        {value: 200.00, text: 'ml milk'},
                        {value: 10.00, text: 'dkg unsalted butter'},
                        {value: 50.00, text: 'dkg buscuits'},
                        {value: 'a pinch',   text: 'salt'}
//                        10 dkg cukor
//                        4 evőkanál kakaó
//                        2 dl tej
//                        10 dkg margarin
//                        1/2 dl rum /vagy 1 rumaroma/
//                        50 dkg háztartási keksz (mehet hozzá minden maradék aprósüti, piskóta, tésztamaradék)

                    ];

                    list.change = function() {
                        var b1 = list.pancakes;
                        var b2 = list.thickness;
                        var b3 = list.diameter;
                        var b4 = (list.diameter*list.diameter);

                        list.calorie =  $filter('number')((b4*b2*b1*1.06*Math.PI/4)*(68/360), 2);
                        list.ingradients[0].value = $filter('number')((b4*b2*b1*1.06*Math.PI/4)*(10/360), 2);
                        list.ingradients[1].value = $filter('number')((b4*b2*b1*1.06*Math.PI/4)*(90/360), 2);
                        list.ingradients[2].value = $filter('number')((b4*b2*b1*1.06*Math.PI/4)*(200/360), 2);
                        list.ingradients[3].value = $filter('number')((b4*b2*b1*1.06*Math.PI/4)*(10/360), 2);
                        list.ingradients[4].value = $filter('number')((b4*b2*b1*1.06*Math.PI/4)*(50/360), 2);

                    };
                });
    </script>
</body>
</html>